  /* Slideshow tutorial: https://youtu.be/VvSVw1yLAPM */
  /* humaaans illustrations: https://www.humaaans.com/ */
  /* Spline 3D Modeling: https://spline.design/ */
  /* Font tutorial: https://www.youtube.com/watch?v=wARbgs5Fmuw */
  
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap');

  /* This allows responsive font scaling to be easily manipulated with a default set (mobile) and one Desktop scaling w/ Media query. */
  :root {
    --ff-body: "Sniglet", system-ui;
    /* Clamp prevents browsers from over/under sizing from scaling. 
    clam(min rem, set vw + amount, max rem) */
    --fs-xlSpecialV: clamp(25rem, 16vw + 1rem, 10rem); /* Header font */
    --fs-xl: clamp(3rem, 16vw + 1rem, 10rem); /* Header font */
    --fs-lg: 1.8rem; /* Body title font */
    --fs-md: 1.4rem; /* Main body font */
    --fs-sm: 1.4rem; /* Subtitle font */
  }
  /* Min width has a "mobile first" mentality */
  @media (min-width: 40em) {
    :root {
      --ff-body: "Rubik Bubbles", system-ui;
      --fs-xlSpecialV: clamp(40rem, 16vw + 1rem, 10rem); /* Header font */
      --fs-xl: clamp(6rem, 16vw + 1rem, 10rem); /* Used for Welcome screen */
      --fs-lg: 2.1rem; /* Body title font */
      --fs-md: 1.4rem; /* Main body font */
      --fs-sm: 1.5rem; /* Subtitle font */
    }
  }
  body, html {
    overflow-x: hidden;
    font-size: var( --fs-md);
    font-family: "Sniglet", system-ui;
    font-weight: 400;
    color: #58C2B6;
    background-color: #FCFCFC;
    margin: 0;
    padding: 0;
  }  

  #load {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Stack the children vertically */
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: 5;
    position: absolute;
    font-size: var(--fs-xl);
    background-color: #f2f2f2;
    background-image: url(/images/kirbyBG.jpg);
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    background-repeat: none;
    padding: 25px;
  }#loadingText {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 55px;
    background-color: #FF7DB3;
    border-radius: 25px;
    opacity: 0.8;
  }#spinner {
    border: 16px solid #f2f2f2; 
    border-top: 16px solid #FF7DB3; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-top: 15px;
  }@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


  .swal2-modal {
    background:  linear-gradient(15deg, #FFFF, #f2f2f2);
    border: 15px solid #FF7DB3; 
    border-radius: 25px; 
    font-size: var( --fs-lg);
    font-family: "Sniglet", system-ui;
    font-weight: 400;
    color: #58C2B6;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FF7DB3;
  }
  
  .swal2-button {
    color: white;
    padding: 10px 20px; 
    border-radius: 5px; 
  }
  
  .swal2-confirm-button {
    background-color: #FBE439; 
    color: #fff; 
  }
  
  .swal2-cancel-button {
    background-color: #C9DAE1;
    color: #fff; 
  }

/* .myNavBar {
  height: 35px;
  width: 100%;
  padding: 15px;
  font-family: "Sniglet", system-ui;
  font-weight: 800;
  font-style: normal;
  font-size: var(--fs-lg);

  }
  .myNavBar a{

    text-decoration: none;
    color: #FCFCFC;  
    text-decoration: overline;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #0C2991;
  }
  .myNavBar a:hover{
    color: #95abf9;  
  }
  .myNavBar:after {
    content: "";
    display: table;
    clear: both;
  } */


#part1{
  overflow: hidden;
  width: 100%;
  height: 120vh;
  background-color: red;
  background-image: url(/images/kirbyBG.jpg);
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  background-repeat: none;
} #part1WelcomeH1Parent{
  height: 50vh;
} #welcomeH1{
  font-size: var(--fs-xlSpecialV);
  text-align: center;
  /* color: linear-gradient(-90deg, #FEF594, #FBE439); */
  color: #FBE439;
  -webkit-text-stroke-width: 15px;
  -webkit-text-stroke-color: #0C2991;
}


.part1EmptyAligner{
height: 20vh;
}

/*********************************************************************************************************************************************************/
/* ALL FOR PART2 ***********************/

#part2{
  overflow: hidden;
  margin: 0;
  padding-bottom: 150px;
  min-height: 120vh;
  background:  linear-gradient(-25deg, #FEF594, #FBE439);
  border-radius: 25px;
  margin-top: -100px;
}#part2Row1{
  min-height: 20vh;
  border-radius: 25px;
  padding-top: 55px;
  padding-left: 55px;
  padding-right: 55px;
}#part2Row1ColRight{

  position: relative;
  border: 1px solid #4b4b4b8f;
  box-shadow: 15px 15px 25px #4b4b4b8f;
  padding: 55px;
  border-radius: 25px;
  background:  linear-gradient(90deg, #FFFF, #F2F2F2);
}#part2Row1ColLeft{
  padding: 55px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
#part2Row2{
  margin-top: -50px;
  border-radius: 25px;
  padding-left: 55px;
  padding-right: 55px;
  min-height: 80vh;
  overflow: hidden;
}
#part2Row2ColRight{
  padding: 55px;
  border-radius: 25px;
  background:  linear-gradient(90deg, #FF7DB3, #FF0089);
}#part2Row2ColLeft{
  padding: 55px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  overflow: hidden;
}#part2Row2ColLeftPurpleStar{
  position: relative;

  width: 800px; 
  height: 780px; 
}
.part2ColRightKirbyVideo {
  top: 50%;
  left: 0%;
  position: relative; 
  opacity: 0;

}#kirbyVideoSource {
  box-shadow: 25px 25px 35px #4b4b4b8f;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  border-radius: 50%; 
  width: 680px; 
  height: 680px; 
  border: 5px solid white;
}
#part2ColRightKirbyVideoPlayBtn{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%); 
  border-radius: 50%; 
  width: 290px; 
  height: 290px; 
  z-index: 3;
  opacity: 0.9;
  background-color: rgb(255, 255, 255);
  cursor:grab;
}
@media (max-width: 768px) {
  #kirbyVideoSource {
    width: 280px;
    height: 280px;
  }
  #part2ColRightKirbyVideoPlayBtn {
    width: 140px;
    height: 140px;
  }
  #part2ColLeft, .canvas-cont, .canvas-contBubbles, #part2Row2ColLeftPurpleStar{
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #kirbyVideoSource {
    width: 340px;
    height: 340px;
  }
  #part2ColRightKirbyVideoPlayBtn {
    width: 140px;
    height: 140px;
  }
  #part2ColLeft{
    display: none;
  }
  #part2Row2ColLeftPurpleStar{
    display: none;
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  #kirbyVideoSource {
    width: 520px;
    height: 520px;
  }
  
  #part2ColRightKirbyVideoPlayBtn {
    width: 240px;
    height: 240px;
  }
  #part2ColLeft{
    display: none;
  }
  #part2Row2ColLeftPurpleStar{
    display: none;
  }
}

@media (min-width: 1440px) {
  #kirbyVideoSource {
    width: 680px;
    height: 680px;
  }
  
  #part2ColRightKirbyVideoPlayBtn {
    width: 290px; 
    height: 290px; 
  }
}

/*********************************************************************************************************************************************************/
/* ALL FOR PART3 ***********************/

#part3{
  overflow: hidden;
  margin-top: -100px;
  padding-bottom: 150px;
  min-height: 130vh;
  background-color: red;
  background-image: url(/images/kirbyBG2.jpg);
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  background-repeat: none;
  border-radius: 25px;
}#part3Row1{
  min-height: 20vh;
  border-radius: 25px;
  padding-top: 55px;
  padding-left: 55px;
  padding-right: 55px;
}#part3Row1ColRight{
  padding: 55px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}#part3Row1ColLeft{
  position: relative;
  border: 1px solid #4b4b4b8f;
  box-shadow: 15px 15px 25px #4b4b4b8f;
  padding: 55px;
  border-radius: 25px;
  background:  linear-gradient(-90deg, #FF7DB3, #FF0089);
  color: white;
}#part3Row2{
  margin-top: -125px;
  border-radius: 25px;
  padding-left: 55px;
  padding-right: 55px;
  min-height: 40vh;
  overflow: hidden;
}#part3Row2ColRight{
  padding: 55px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  overflow: hidden;
}#part3Row2ColLeft{
  padding: 55px;
  background:  linear-gradient(90deg, #f2f2f296, #FFFF, #f2f2f296);
}#part3Row2ColLeftPurpleStar{
  position: relative;
  width: 800px; 
  height: 780px; 
}
.part3ColLeftKirbyVideo {
  left: 0%;
  height: 100%;
  position: relative; 
  padding: 20px;

}.part3ColLeftKirbyVideo video {
  box-shadow: 25px 25px 35px #4b4b4b8f;
  z-index: 1;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%); 
  border-radius: 25px; 
  width: 940px; 
  height: 580px; 
  border: 5px solid white;
}#part3ColLeftKirbyVideoPlayBtn{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%); 
  border-radius: 50%; 
  width: 290px; 
  height: 290px; 
  z-index: 4;
  opacity: 0.9;
  background-color: rgb(255, 255, 255);
  cursor:grab;
}
.part3ColLeftKirbyVideo2 {
  top: 50%;
  left: 0%;
  position: relative; 

}
#part3Row3{
  border-radius: 25px;
  padding-left: 55px;
  padding-right: 55px;
  overflow: hidden;
}#part3Row3ColRight{
  padding: 55px;
  overflow: hidden;
}#part3Row3ColLeft{
  padding: 55px;
  background:  linear-gradient(90deg, #f2f2f296, #FFFF, #f2f2f296);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}#part3Row3ColLeftCustomContainer {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background: linear-gradient(90deg, #FFFF, #F2F2F2);
  padding: 25px;
  min-height: 20vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}#part3Row3ColLeftCustomContainer img {
  border: 5px solid #FF0089;
  background:  linear-gradient(-90deg, #FF7DB3, #FBE439);
  border-radius: 50%;
  width: 30%;
  display: none;
    position: relative;
}#part3Row3ColLeftCustomContainer img.active {
  display: block;
}#part3Row3ColLeftCustomContainerPrevBtn{
  width: 100px;
}#part3Row3ColLeftCustomContainerNextBtn{
  width: 100px;
  transform: scaleX(-1); /* why make new arrow when one work ;D */
}#part3Row3ColLeftCustomContainerInfoKirbyName{
  font-size: var(--fs-md);
  background: linear-gradient(90deg, #FFFF, #F2F2F2);
  padding: 25px;
  min-height: 5vh;
  overflow: hidden;
  align-items: center;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom: 2px solid #fcba4758;
  margin-bottom: 5px;;
}#part3Row3ColLeftCustomContainerInfo{
  font-size: var(--fs-md);
  background: linear-gradient(90deg, #FFFF, #F2F2F2);
  padding: 25px;
  border-radius: 25px;
  min-height: 15vh;
  overflow: hidden;
  align-items: center;
}#kirbyName{
  font-size: var(--fs-lg);
  font-weight: 600;
  text-align: center;
}





@media (max-width: 768px) {
  /* Adjust sizes for smaller screens (720p and below) */
  .part3ColLeftKirbyVideo video, .part4ColLeftKirbyVideo video {
    width: 341px; 
    height: 195px;
  }
  #part3ColLeftKirbyVideoPlayBtn {
    width: 140px;
    height: 140px;
  }
  #part2ColLeft, #part2Row2ColLeft, #part3ColRight, #part3Row2ColRight, #part3Row3ColRight, #part3row3ColLeftPurpleStar, .canvas-contBubbles, .canvas-cont {
    display: none;
  }
  
}
  
@media (min-width: 768px) and (max-width: 1024px) {
  /* Adjust sizes for medium screens (1080p) */
  .part3ColLeftKirbyVideo video, .part4ColLeftKirbyVideo video {
    width: 341px; 
    height: 195px;
  }
  #part3ColLeftKirbyVideoPlayBtn {
    width: 140px;
    height: 140px;
  }
  #part2ColLeft, #part2Row2ColLeft, #part3ColRight, #part3Row2ColRight, #part3Row3ColRight, #part3row3ColLeftPurpleStar {
    display: none;
  }
}

@media (min-width: 1024px) and (max-width: 1640px) {
  /* Adjust sizes for larger screens (1440p) */
  .part3ColLeftKirbyVideo video, .part4ColLeftKirbyVideo video {
    width: 440px; 
    height: 250px;
  }
  
  #part3ColLeftKirbyVideoPlayBtn {
    width: 240px;
    height: 240px;
  }
  #part2ColLeft, #part2Row2ColLeft, #part3ColRight, #part3Row2ColRight, #part3Row3ColRight, #part3row3ColLeftPurpleStar {
    display: none;
  }
}

@media (min-width: 1640px) and (max-width: 2160px){
  /* Adjust sizes for very large screens (4k+) */
  .part3ColLeftKirbyVideo video, .part4ColLeftKirbyVideo video{
    width: 660px; 
    height: 380px;
  }
  
  #part3ColLeftKirbyVideoPlayBtn {
    width: 220px; 
    height: 220px; 
  }
}
  @media (min-width: 2160px) {
    /* Adjust sizes for very large screens (4k+) */
    .part3ColLeftKirbyVideo video, .part4ColLeftKirbyVideo video{
      width: 840px; 
      height: 480px;
    }
    
    #part3ColLeftKirbyVideoPlayBtn {
      width: 220px; 
      height: 220px; 
    }
}


/*********************************************************************************************************************************************************/
/* ALL FOR PART4 ******** ***************/

#part4{
  overflow: hidden;
  min-height: 100vh;
  border-radius: 25px;
  background-color: #F2F2F2;
  margin-top: -100px;
  border-radius: 25px;
}#part4Row1{
  min-height: 20vh;
  border-radius: 25px;
  padding-top: 55px;
  padding-left: 55px;
  padding-right: 55px;
}#part4Row1ColRight{
  position: relative;
  border: 1px solid #4b4b4b8f;
  box-shadow: 15px 15px 25px #4b4b4b8f;
  padding: 55px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background:  linear-gradient(-90deg, #FF7DB3, #FF0089);
  color: white;
}#part4Row1ColLeft{
  position: relative;
  border-bottom: 1px solid #4b4b4b8f;
  box-shadow: 15px 15px 25px #4b4b4b8f;
  padding: 55px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background:  linear-gradient(90deg, #FF7DB3, #FF0089);
  color: white;
}#part4Row2{
  margin-top: -15px;
  border-radius: 25px;
  padding-left: 55px;
  padding-right: 55px;
  min-height: 75vh;
  overflow: hidden;
}#part4Row2ColRight{
  padding-top: 130px;
  min-height: 20vh;
  background:  linear-gradient(25deg, #FEF594, #FBE439);
  border-bottom-right-radius: 25px;
  padding-bottom: 160px;
}#part4Row2ColLeft{
  min-height: 20vh;
  padding: 55px;
  background:  linear-gradient(-25deg, #FEF594, #FBE439);
  border-bottom-left-radius: 25px;
  padding-bottom: 160px;
}.part4ColLeftKirbyVideo {
  left: 0%;
  height: 100%;
  position: relative; 
  padding: 20px;
}.part4ColLeftKirbyVideo video {
  box-shadow: 25px 25px 35px #4b4b4b8f;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px; 
  border: 5px solid white;
}#featureParent {
  position: relative;
  box-shadow: 25px 25px 35px #4b4b4b8f;
  color: white;
  background-color: #58C2B6;
  padding: 25px;
  border-radius: 25px;
}

#featureParent h1 {
  padding: 25px;
  font-size: var(--fs-lg);
  font-weight: 800;
  color: #FEF594;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #ff7db386;
}



@media (max-width: 768px) {
  #kirbyStill, #elfilinStill, #bandanaStill{
    height: 85px;
    width: 85px;
  }
}
  
@media (min-width: 768px) and (max-width: 1024px) {
  #kirbyStill, #elfilinStill, #bandanaStill{
    height: 95px;
    width: 95px;
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  #kirbyStill, #elfilinStill, #bandanaStill{
    height: 115px;
    width: 115px;
  }
}

@media (min-width: 1440px) {
  #kirbyStill, #elfilinStill, #bandanaStill{
    height: 175px;
    width: 175px;
  }
}


#CustomFooter{
  overflow: hidden;
  position: relative;
  margin-top: -100px;
  padding: 155px;
  height: 50vh;
  background-color: #58C2B6;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  font-size: var(--fs-sm);
  text-align: center;
}
#customFooterText{
  background: linear-gradient(90deg, #FFFF, #F2F2F2);
  border-radius: 25px;
  text-align: center;
  padding: 25px;
  align-items: center;
}

.canvas-cont {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
} #kirbyModeCanvas {
  width: 100%;
  height: 100%;
}

.canvas-contBubbles {
  z-index: 0;
  position: absolute; 
  width: 100vw;
  min-height: 100vh;
} #bubblesCanvas {
  opacity: 0.8;
}

.canvas-Fireworks {
  z-index: 0;
  position: absolute; 
  width: 100vw;
  height: 100%;
}


